* {
    margin: 0;
    padding: 0;
}

.filter {
    display: flex;
    flex-wrap: wrap;
}

.filter div {
    margin: 5px 0px;
}

.filter div label {
    margin-right: 20px;
}

.filter div input {
    margin-right: 3px;
}

#filterbox {
    padding: 10px;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    width: 500px;
    font-size: 15pt; 
}

#filterbox button {
    height: 25px;
}
